/* Reset de algumas configurações padrão do navegador */
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Estilo do corpo da página */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4; /* Cor de fundo mais suave */
  }
  
  /* Estilo do cabeçalho (h1) */
  h1 {
    color: #2c3e50; /* Cor do texto mais escura */
    text-align: center;
    margin: 20px 0; /* Espaço superior e inferior */
    font-size: 36px; /* Tamanho maior */
  }
  
  /* Estilo da navegação (nav) */
  nav {
    background-color: #3498db; /* Azul mais vibrante */
    padding: 10px 0;
  }
  
  /* Estilo da lista não ordenada (ul) */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo dos itens da lista (li) */
  li {
    display: inline-block; /* Exibe os itens como blocos */
    margin-right: 20px;
  }
  
  /* Estilo dos links (a) na navegação */
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px; /* Tamanho maior */
    transition: color 0.3s; /* Transição suave de cor */
  }
  
  /* Estilo do link ativo (quando a página está aberta) */
  a.router-link-active {
    color: #e67e22; /* Cor de destaque laranja */
  }
  
  /* Estilo da seção principal */
  section {
    margin: 20px;
  }
  
  /* Estilo do rodapé (footer) */
  footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  